
#btnPrin{
    position: absolute;
    padding: 10px;
} 
#formularioUsuario{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: solid rgb(0, 0, 0);
}
.card{
    padding:10px;

}

#tiendaNav{
    background-color: rgb(143, 46, 46);
    text-align: center;
}
.card-img-top{
    height: 20rem ;
}
#saludo{
    font-size: 25px;
}